h1 {
	color: #c71717;
	font-family: 'Orbitron', sans-serif;
	font-size: 48px
}
h2 {
	text-align: center;
}

body {
	font-family: 'Inconsolata', serif;
	color: aliceblue;
	background-color: black;
	display:block;
}